@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Source+Serif+Pro:wght@700&display=swap');


body{
    padding: 0;
    margin: 0;
    background-color: #eee;
}
 /*************** Container ****************/
.container{
    padding: 10px;
    width: 380px;
    margin: 35px auto;
}

/*************** Header ****************/

.header{
    background-size: 100% 200%;
    width: 380px;
    height: 200px;
    border-radius: 20px 20px 0 0 ;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 25px;
}

.clear{
    margin-right: 5%;
    margin-top: 5%;
}


.clear i:hover{
    cursor: pointer;
    text-shadow: 3px 3px 5px #333;
    transform: rotate(45deg);
    color: #e41b17;
    font-size: 35px;
}
#date{

    flex-grow: 6;
    margin-top: 38%;
    margin-left: 5%;
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
}

/*************** Content ****************/

.content{
    width: 380px;
    height: 350px;
    max-height: 350px;
    background-color: white;
    overflow: auto;
}

.content ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid #2e26266c;
    list-style: none;
    padding: 0;
    margin: 0;
}

.circle{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.circle:hover{
    cursor: pointer;
}

.fa-check-circle{
    color:#6eb200;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-weight: bold;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
#user-list, #item-user{
    margin-left: 45%;
}


.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}

.delete{
    position: absolute;
    right:35px;
    top:10px;
    font-size: 25px;
}

.delete:hover{
    color: #e41b17;
    cursor: pointer;
}


/*************** Add item ****************/

.add-item{
    padding-top: 7px;
    height: 80px;
    border-top: 1px solid #2e26266c;
    background-color: white;
    overflow: auto;
    color: #4162f6;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

.add-item i{
    position: absolute;
    margin-left: 1%;
    margin-top: 2%;
}

#input{
    position: absolute;
    margin-left: 13%;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;

}

#user{
    position: absolute;
    margin-left: 13%;
    margin-top: 9%;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;

}
.add-item input::placeholder{
    color: #4162f6;
    font-family: 'Source Sans Pro', sans-serif;

}

.add-item input:focus{
    border: 1px solid #4162f6;
}
